
body{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'DisposableDroid BB';
	height: 100vh;
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	flex-shrink: 0;
}
.game canvas{
	margin: 0 20px;
	width: 376px;
	height: 768px;
	
}
@media only screen and (max-width: 768px){
	body{
		flex-direction: column;
		width: 100%;
		height: auto;
		justify-content: flex-start;
	}
	.game{
		display: flex;
		margin: 20px 0;
		width: 100%;
		height: auto
	}
	.game canvas{
		margin: 0 auto;
		width: auto !important;
		max-width: 100%;
		max-height: calc(var(--vh, 1vh) * 100) !important;
		height: auto !important;
	}
}